* {
    box-sizing: border-box;
}

body {
    background-color: #f5f7fb;
    font-family: Karla, sans-serif;
    margin: 0;
    padding: 0;
}

.app-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    padding: 0;
}

/*************************** Title Component Styling ****************************/


.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-heading {
    color: #293264;
    font-weight: 700;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.title-text {
    color: #293264;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 20px;
}

.start-button {
    border: none;
    background-color: #4D5B9E;
    width: 12rem;
    height: 3rem;
    border-radius: 15px;
    color: #f5f7fb;
    font-family: karla;
    font-weight: 500;
    font-size: 1rem;
}

.start-button:hover{
    cursor: pointer;
    background-color: #415097;
}

/*************************** Question Component Styling ****************************/

.question-container {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    padding-right: 75px;
}

.question {
    color: #293264;
    font-weight: 700;
    font-size: 2rem;
}

.questions-box {
    border-bottom: 1px solid #c1c3ca;
    margin-top: 15px;
}

.answers-container {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
    
}

.answer-choice {
    background-color: #f5f7fb;
    border: 1px solid #4D5B9E;
    color: #293264;
    border-radius: 8px;
    width: 110px;
    height: 30px;
    font-family: karla;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.check-button {
    background-color: #4D5B8E;
    border: none;
    color: #f5f7fb;
    font-family: karla;
    font-weight: 600;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.selected {
    background-color: #d6dbf5;
    border: none;
}